@use '../../../variables' as vars;

header {
    width: 100%;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;

    h1 {
        margin-left: 15px;
        font-size: vars.$font-size-h1;
    }
    .logo {
        position: relative;
    }

    .main-logo {
        width: 70px;
        height: 70px;
        margin-left: 25px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .angular-logo {
        position: absolute;
        width: 35px;
        height: 35px;
        bottom: 5px;
        right: -3px;
        rotate: -15deg;
    }
}