@use 'variables' as vars;

body {
    background-color: vars.$background-color;
    color: vars.$text-base-color;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0;
    left: 0;
}
