// Color Variables
$background-color: #0e1d23;
$text-base-color: #E9EDEB;
$primary-color: #9dffd3;
$secondary-color: #124255;

// Font Size Variables
$font-size-p: 16px;
$font-size-h1: 32px;
$font-size-h2: 24px;
$font-size-h3: 20px;